@import "../../variables.module.scss";

.childrenList {

  :global {

    .childBtn {
      min-width: 200px;
      margin-bottom: 5px;
    }

    .mantine-Button-inner {
      justify-content: start;
      margin-bottom: 0.3rem;

    }

  }

}