.addAdminMessagesRoomModal {
  :global {
    .multiSelect {
      margin-bottom: 1rem;
    }

    .title {
      margin-bottom: 1rem;
    }

    .body {
      margin-bottom: 1rem;
    }

    .attachments {
      margin-bottom: 1rem;
    }

    .button {
    }
  }
}
