.adminReports {
  margin: 1rem;

  :global {
    .childrenList {
      margin: 1rem 0 1rem 0;
    }

    .selectAllBtn {
      margin: 1rem 0 1rem 0;
    }

    .groupBtn {
      margin: 1rem 0 1rem 0.3rem;
    }

    .photoUploadBtn {
      display: flex;
      align-items: baseline;
      margin: 1rem 0 1rem 0;
    }

    .buttons {
      margin: 1rem 0 1rem 0;
    }

    .button {
      margin-right: 1rem;
    }

    .timeInput {
      margin: 1rem 0 1rem 0;
    }

    .descriptionField {
      margin: 1rem 0 1rem 0;
    }
  }
}