.adminReports {
  margin: 1rem;

  :global {
    .childrenList {
      margin: 1rem 0 1rem 0;
    }

    .selectAllBtn {
      margin: 1rem 0 1rem 0;
    }

    .groupBtn {
      margin: 1rem 0 1rem 0;
    }
  }
}